
html {
    font-size: 10px;
    background-color: black;
}

body {
    max-width: auto;

    color: white;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;

}

h1 {
    margin-left: 160px;
    font-size: 60px;
    text-align: center;

}

h2 {
    margin-left: 160px;
    font-size: 30px;

}

h3 {
    margin-left: 160px;
    font-size: 20px;

}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: white;
    background-color: black;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;

}

.changeName {
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: white;
    color: black;
    text-align: center;
    margin-left: 160px;
}

.changeName:hover {
    opacity: 15%;

}


.footer {
    margin-left: 160px;
    position: center;
    width: 100%;
    text-align: center;
    color: white;
    left: 0;
    bottom: 0;
}


